.logo-container {
    height: 64px;
    text-align: center;
    position: relative;
}

.logo {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo-img {
    width: 75px;
    text-align: center;
}

.ant-layout-sider {
    background: white !important;
}

.user-menu-item {
    margin: 24px
}

.circle {
    height: 25px;
    width: 25px;
    background-color: #555;
    border-radius: 50%;
}

.user-name {
    margin-left: 8px;
    font-weight: bold;
    font-size: 12px;
}

.profile-uploader {
    display: flex !important;
    justify-content: center !important;
    padding-bottom: 30px;
}

.user-email {
    margin-left: 8px;
    font-size: 12px;
    color: gray
}

.ant-layout-sider-trigger {
    width: inherit !important;
}

.user-profile-img {
    height: 150px;
    width: auto;
}

.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
}

.dropzone-container {
     display: flex;
     flex-direction: column;
     font-family: sans-serif;
 }