.logo-container {
    height: 64px;
    text-align: center;
    position: relative;
}

.logo {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo-img {
    width: 75px;
    text-align: center;
}

.ant-layout-sider {
    background: white !important;
}